.dashboard_card {
  width: 400px;
  margin-left: 30px;
  margin-bottom: 30px;
  padding: 0;
}

.dashboard_card__header {
  background: #f9f9f9;
  padding: 8px;
  margin: 0;
  text-transform: uppercase;
}

.dashboard_card__content {
  padding: 8px;
}

.md-tile-left {
  float: left;
}

.md-tile-icon {
  width: 48px;
  margin: 16px;
}

.b-credit-card {
  padding: 8px 16px;
  margin-bottom: 8px;
}

.b-credit-card__name,
.b-credit-card__digits,
.b-credit-card__balance,
.b-credit-card__last_update {
  margin: 0;
}

.b-credit-card__last_update {
  font-weight: normal;
}

.b-credit-card__currency {
  text-transform: uppercase;
  font-weight: normal;
}

.b-credit-card__name {
  color: #333;
}

.b-credit-card__digits {
  color: #666;
}

.b-credit-card__right {
  text-align: right;
}
