.dashboard_card {
  width: 400px;
  margin-left: 30px;
  margin-bottom: 30px;
  padding: 0;
}

.dashboard_card__header {
  background: #f9f9f9;
  padding: 8px;
  margin: 0;
  text-transform: uppercase;
}

.dashboard_card__content {
  padding: 8px;
}

.md-tile-left {
  float: left;
}

.md-tile-icon {
  width: 48px;
  margin: 16px;
}

.b-credit-card {
  padding: 8px 16px;
  margin-bottom: 8px;
}

.b-credit-card__name,
.b-credit-card__digits,
.b-credit-card__balance,
.b-credit-card__last_update {
  margin: 0;
}

.b-credit-card__last_update {
  font-weight: normal;
}

.b-credit-card__currency {
  text-transform: uppercase;
  font-weight: normal;
}

.b-credit-card__name {
  color: #333;
}

.b-credit-card__digits {
  color: #666;
}

.b-credit-card__right {
  text-align: right;
}

.b-mobile__input input {
  width: 100%;
}

.b-mobile__custom_select {
  margin: 10px 0 10px 0;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  border-width: 0 0 1px 0;
  border-color: #c7c7c7;
  color: #2f2f2f;
  transition: all ease-out 150ms;
  background-color: #fff;
  border-radius: 0;
  padding-top: 10px;
}

.b-mobile__custom_select:active,
.b-mobile__custom_select:focus {

}

.b-mobile__button {
  margin-top: 15px;
}
