<section layout="horizontal" flex>

	<md-sidenav class="md-sidenav-left md-whiteframe-z2" component-id="all-services-left" is-locked-open="$media('md')">
		<md-toolbar class="md-theme-green">
			<h1 class="md-toolbar-tools">Услуги</h1>
		</md-toolbar>
		<md-content class="md-content-padding">
			<md-button ng-click="all_services.close()" class="md-button-colored" hide-md>
				Скрыть
			</md-button>
				<md-list>
					<md-item ng-repeat="item in services">
						<md-item-content>
							<div class="md-tile-content">
								<h3>{{item}}</h3>
							</div>
						</md-item-content>
					</md-item>
				</md-list>
		</md-content>
	</md-sidenav>

	<md-content flex class="md-content-padding">

		<div layout="vertical" layout-fill layout-align="center center">
			<p>

			</p>

			<div>
				<md-button ng-click="all_services.toggleLeft()"
				           class="md-button-colored" hide-md>
					Все услуги
				</md-button>
			</div>

		</div>

	</md-content>
</section>
