<div ng-controller="DashboardCtrl">

  <md-content>

    <div layout="horizontal" layout-align="center">
      <md-card class="dashboard_card">
        <h2 class="dashboard_card__header"><fa name="credit-card"></fa> Выписки</h2>

        <div class="dashboard_card__content">
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </div>
      </md-card>

      <md-card class="dashboard_card">
        <h2 class="dashboard_card__header">Пополнить</h2>

        <div class="dashboard_card__content">
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </div>
      </md-card>
    </div>
    <div layout="horizontal" layout-align="center">
      <md-card class="dashboard_card">
        <h2 class="dashboard_card__header">Оплатить</h2>

        <div class="dashboard_card__content">
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </div>
      </md-card>

      <md-card class="dashboard_card">
        <h2 class="dashboard_card__header">Перевести</h2>

        <div class="dashboard_card__content">
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </div>
      </md-card>
    </div>

    <div layout="horizontal" layout-align="center">

      <md-card class="dashboard_card">
        <h2 class="dashboard_card__header">Благотворительность</h2>

        <div class="dashboard_card__content">
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </div>
      </md-card>

      <md-card class="dashboard_card">
        <h2 class="dashboard_card__header">Новости</h2>

        <div class="dashboard_card__content">
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </div>
      </md-card>

    </div>
</div>

</md-content>
</div>
