<section layout="horizontal" flex>

	<md-sidenav class="md-sidenav-left md-whiteframe-z2" component-id="my-count-left" is-locked-open="$media('md')">
		<md-toolbar class="md-theme-green">
			<h1 class="md-toolbar-tools">Sidenav Left</h1>
		</md-toolbar>
		<md-content class="md-content-padding">
			<md-button ng-click="my_counts.close()" class="md-button-colored" hide-md>
				Скрыть
			</md-button>

        <md-list hide show-md>
          <md-item ng-repeat="item in dashboard.cards">
            <div layout="horizontal" class="b-credit-card">
              <div flex class="b-credit-card__left">
                <h3 class="b-credit-card__name">{{item.name}}</h3>
                <h4 class="b-credit-card__digits">**{{item.digits}}</h4>
              </div>
              <div flex class="b-credit-card__right">
                <h3 class="b-credit-card__balance">{{item.balance}}
                  <span class="b-credit-card__currency">{{item.currency}}</span>
                </h3>
                <h4 class="b-credit-card__last_update">на {{item.last_update}}</h4>
              </div>
            </div>
            <md-divider ng-if="!$last"></md-divider>
          </md-item>
        </md-list>
		</md-content>
	</md-sidenav>

	<md-content flex class="md-content-padding">

		<div layout="vertical" layout-fill layout-align="center center">
			<p>
				The left sidenav will 'lock open' on a medium (>=960px wide) device.
			</p>

			<div>
				<md-button ng-click="my_counts.toggleLeft()"
				           class="md-button-colored" hide-md>
					Мои карты
				</md-button>
			</div>

		</div>

	</md-content>
</section>
