<div ng-controller="ToolbarCtrl">

	<md-toolbar class="md-theme-green" layout="horizontal">
		<div class="md-toolbar-tools" layout="horizontal">
			<md-tabs selected="selectedIndex"  center class="md-theme-green">
				<md-tab class="md-theme-green">
					<md-tab-label><a href="#home">Главная</a></md-tab-label>
				</md-tab>
				<md-tab class="md-theme-green">
					<md-tab-label><a href="#my_counts">Мои счета</a></md-tab-label>
				</md-tab>
				<md-tab class="md-theme-green">
					<md-tab-label><a href="#my_counts">Мои счета</a></md-tab-label>
				</md-tab>
				<md-tab class="md-theme-green">
					<md-tab-label><a href="#all_services">Все услуги</a></md-tab-label>
				</md-tab>
				<md-tab class="md-theme-green">
					<md-tab-label><a href="#my_payments">Мои платежи</a></md-tab-label>
				</md-tab>
				<md-tab class="md-theme-green">
					<md-tab-label><a href="#deposites">Депозиты</a></md-tab-label>
				</md-tab>
				<md-tab class="md-theme-green">
					<md-tab-label><a href="#tickets">Билеты</a></md-tab-label>
				</md-tab>
			</md-tabs>

			hello
		</div>

	</md-toolbar>
</div>