<div ng-controller="ToolbarCtrl">

	<md-toolbar class="md-theme-green" layout="horizontal">
		<div class="md-toolbar-tools" layout="horizontal">
			<md-tabs selected="selectedIndex"  center class="md-theme-green" on-select="onTabSelected(tab)">
				<md-tab class="md-theme-green" label="Главная" href="#"></md-tab>
				<md-tab class="md-theme-green" label="Мои счета" href="#my_counts"></md-tab>
				<md-tab class="md-theme-green" label="Все услуги" ></md-tab>
				<md-tab class="md-theme-green" label="Мои платежи" href="#all_services"></md-tab>
				<md-tab class="md-theme-green" label="Депозиты"></md-tab>
				<md-tab class="md-theme-green" label="Билеты"></md-tab>
			</md-tabs>

			hello
		</div>

	</md-toolbar>
</div>